.feature-header{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 15px;
    
}

.feature{
    text-align: left;

    max-width: 100%;
    min-width: 100%;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    background-image: linear-gradient(150deg, rgba(97, 97, 97, 0.096) 0%, rgba(238, 238, 238, 0.096) 100%);
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-description{
    font-size: .65em;
    margin-bottom: 1em;
    padding: 0px 10px 10px 0px;
}

.feature-video-container{

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1em;
    
}