#navbar{
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Adjust width as needed */
    height: 100vh; /* Full viewport height */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding inside the navbar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
    overflow-y: auto; /* Allows scrolling if content overflows */
  }



  .children{
    color: #fff;
    list-style: none;

  }

  a:visited{
    color:#fff;
  }

  #navbar a:hover{
    background-color:#fff;
    color:#333
  }

  #navbar ul{
    list-style: none;
  }

  #navbar li{
    text-align: left;
  }